<%- include("partials/header"); %>
<%-include("partials/hidden");%>
    <br>
    <br>
    <div>
        <span id="post_title_heading" class="newBlogTitle">
            <%- blogTitle %>
        </span>
        <%- include("partials/like"); %>
    </div>
    <br>
    <br>
    <br>
    <div class="newBlogContent" style="white-space: pre-line"><%- blogContent %></div>

<%- include("partials/footer"); %>